<% if params[:controller] == 'parts' && params[:action] == 'index' || params[:action] == 'show' %>


<div class="jumbotron">
    <h1>876PartFinder.com</h1>
    <p>"Parts you need... We'll find it.</p><br /><br />
    <!-- <p><a class="btn btn-link btn-md href="#" role="button">Read more>></a></p> -->
</div>
<% end %>
